@model ChangePasswordVM
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <strong class="card-title ">اعدادات كلمة المرور</strong>
            <form method="post" asp-action="ChangePassword" asp-controller="Account" class="form-sample">
                <p class="card-description"> تغيير كلمة المرو </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">كلمة المرور القديمة </label>
                            <div class="col-sm-9">
                                <input asp-for="OldPassword" type="password" class="form-control" />
                                <span style="color:red" asp-validation-for="OldPassword"></span>
                            </div>
                        </div>
                    </div>
                  </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">كلمة المرور الجديدة </label>
                            <div class="col-sm-9">
                                <input asp-for="NewPassword" type="password" class="form-control" />
                                <span style="color:red" asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">تأكيد كلمة المرور الجديدة </label>
                            <div class="col-sm-9">
                                <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                                <span style="color:red" asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <input type="submit" value="تغيير كلمة المرور" class=" btn btn-primary" />
                    </div>
                    <div style="color:red" asp-validation-summary="All">
                    </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}