@model ShippingSettingVM
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <strong class="card-title ">تعديل اعدادات الشحن</strong>
            <form method="post" asp-action="Update" asp-controller="ShippingSetting" class="form-sample">
                <p class="card-description"> الاعددادت </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">نوع الشحن</label>
                            <div class="col-sm-9">
                                <input asp-for="Shipping_Type" type="text" class="form-control" />
                                <span style="color:red" asp-validation-for="Shipping_Type"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">سعر الشحن</label>
                            <div class="col-sm-9">
                                <input asp-for="Shipping_Price" type="text" class="form-control" />
                                <span style="color:red" asp-validation-for="Shipping_Price"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">الوصف</label>
                            <div class="col-sm-9">
                                <input asp-for="Shipping_Description" type="text" class="form-control" />
                                <span style="color:red" asp-validation-for="Shipping_Description"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" />
                <div style="color:red" asp-validation-summary="All">
                </div>
                <div class="row">
                    <input type="submit" value="تعديل" class=" btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
